<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/support">Support</a></li>
	    		</ul>
			</nav>
			
		    <div class="icon_and_heading">
		        <img src="../images/AppIcon_152x152.png">
		        <h1>Mostly Done</h1>
		        <a href="https://itunes.apple.com/us/app/mostly-done/id1131771017?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
		    </div>

			<div class="container">
			
			{{ content }}
			
			</div>
			
			<footer>
	    		<ul>
	    			<!--
	        		<li><a href="mailto:support@mostlydoneapp.com">email</a></li>
	        		-->
				</ul>
			</footer>
		</body>
	</html>
